.array-view {
    padding: 3px;
    border: 1px solid blue;
    display: flex;
}

.array-view > div {
    margin: 0 0;
    transition: margin 0.3s, color 0.1s;
}

.array-view.split-into-pairs > div:nth-child(2n + 3) {
    margin-left: 20px;
}

.array-view.split-into-pairs > div:nth-child(odd)::after {
    content: ",";
	color: initial;
}

.array-view.highlight-odd > div:nth-child(odd) {
    color: red;
}

.array-view.highlight-even > div:nth-child(even) {
    color: red;
}
