.tree-view {
    overflow: visible;
}

.node {
    fill: gray;
    stroke: black;

    transition: 0.4s fill;
}

.node.odd {
    fill: var(--color-odd);
}

.node.even {
    fill: var(--color-even);
}

.link {
    stroke: black;
    transition: var(--frame-length) stroke, var(--frame-length) stroke-width;
    stroke-width: 3;
}

.link.thick {
    stroke-width: 9;
}

.link.odd {
    stroke: var(--color-odd);
}

.link.even {
    stroke: var(--color-even);
}

.link.both {
    stroke: url(#solids);
}

.link-label rect {
    fill: white;
}

.link-label text {
    fill: black;
}

.leaf-label {
    fill: black;
}
