.pair-array-view {
    box-sizing: border-box;
    border: 1px solid greenyellow;
    padding: 1px;

    display: flex;
}

.pair-array-view .pair-box {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    margin: 0 10px;
    transition: margin var(--frame-length);
	position: relative;
}

.pair--values,
.pair--index {
    text-align: center;
}

/* variations */

.pair-array-view.highlight-first-element .pair--values > span:nth-child(2) {
    color: red;
}

.pair-array-view.highlight-second-element .pair--values > span:nth-child(4) {
    color: red;
}

.pair-array-view.pairs-as-array .pair-box {
    margin: 0;
}

.pair-array-view:not(.pairs-as-array) .pair--values > span:nth-child(3)::after {
    content: ",";
}

/*
.pair-array-view:not(.pairs-as-array) .pair--values > span:nth-child(1)::after {
    content: "(";
}
.pair-array-view:not(.pairs-as-array) .pair--values > span:nth-child(5)::after {
    content: ")";
}
*/

/* reorder */

.moveable {
    position: relative;
    top: 0;
    left: 0;
    transition: left var(--frame-length), top var(--frame-length) !important;
}

/* remove/keep */

.removeable {
    color: red;
    transition: width var(--frame-length), margin var(--frame-length) !important;
    overflow: hidden;
}

.red-border {
    box-shadow: 0 0 0 1px red;
    position: relative;
}

.red-border::before {
    content: "=";
    position: absolute;
    top: 0;
    left: -0.9em;
}

/* index */

.pair--index {
    position: relative;
    top: 0;
    left: 0;
}

.pair--index.folded {
    top: -1em;
    opacity: 0.1;
}

/* svg lines*/

.pair-box svg {
    position: absolute;
    left: 50%;
    bottom: 100%;
	transform: translate(-50%);
}
