/* reset */
html,
body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

footer,
header {
    min-height: 50px;
    background-color: cadetblue;
	padding: 10px 40px;
}

content {
    flex-grow: 1;
    margin: 10px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#frame {
    padding: 2px;
	margin: 5px 20px;
}

#frame > svg {
    box-shadow: 0 0 0 2px black;
    width: 100%;
}

#controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#controls__frames-wrapper {
    display: flex;
    justify-content: center;
	width: 100%;
}

#frames-slider {
	width: 50%;
}

.change_frame_button{
	width: 50px;
	height: 50px;
	border: 1px solid black;
	box-sizing: border-box;
	border-radius: 2px;

	display: flex;
	justify-items: center;
	align-items: center;
}