body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-button);
}

footer,
header {
    min-height: 50px;
    background-color: #fff;
    padding: 10px 40px;
}

#main-title {
    font: 800 36px sans-serif;
    color: var(--color-button);
}

content {
    flex-grow: 1;
    margin: 10px 5vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#frame {
    width: 100%;
    padding: 2px;
    margin: 5px 20px;
    box-sizing: border-box;
}

#frame > * > svg {
    box-shadow: 0 0 0 2px black;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

#controls {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#controls > * {
    margin: 5px 0;
}

#controls__frames-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

#frames-slider {
    width: 100%;
}

.change_frame_button {
    width: 30px;
    height: 30px;
    padding: 0 !important;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

#controls__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#controls__buttons > div {
    display: flex;
}

.ratio-5x3 {
    position: relative;
    width: 100%;
    padding-bottom: 60%;
    float: left;
    height: 0;
}

.proportional {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

.split-panel {
    display: flex;
	background-color: white;
}

.split-panel > div {
    height: 100%;
    min-width: 10%;
}

.split-panel__left {
    resize: horizontal;
    overflow: hidden;
	width: 80%;
}

.split-panel__left > svg {
    width: 100%;
    height: 100%;
}

.split-panel__right {
    flex-grow: 1;
	border-left: 4px solid black;
}

html[debug] .split-panel__right {
    background-color: yellowgreen;
}

html[debug] .split-panel__left {
    background-color: aqua;
}

.stack-title{
	padding: 2px;
	font: 800 18px sans-serif;
	color: var(--color-button);
	text-align: center;
	border-bottom: 2px solid black;
}

.stack {
	display: flex;
	flex-direction: column-reverse;
}
